
<!-- Begin Sandbox Section -->
<section id="sandbox" class="pb-0">
	<!-- Descrição -->
	<div class="content-wrapper pb-0 mb-5">
		<div class="container">
            <div class="row row-cols-1 row-cols-md-3 g-4 justify-content-center">
                <div class="col">
                    <a href="{{ site.baseurl }}/apa-cup/" target="_blank" class="card-sandbox">
                    <div class="card h-100">
                        <img src="{{ site.baseurl }}/img/icons/shield.svg" height="90px" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">APA Cup (2020.2)</h5>
                            <p class="card-text">Página da edição do período 2020.2 da APA Cup.</p>
                        </div>
                    </div>
                    </a>
                </div>
            </div>
		</div>
	</div>
</section>
<!-- End Sandbox Section -->

